.carousel-caption {
    background: rgba(3, 3, 3, 0.5);
    height: 100%;
    width: 100%;
    right: 15%; 
     bottom: 0px; 
    left: 0px;
    z-index: 300;
    padding-top: 0px; 
    padding-bottom: 0px; 
    color: #fff;
    text-align: center;
    box-shadow: 1px 6px 5px -2px rgba(0, 0, 0, 0.12);
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.w-100 {
    width: 100% !important;
    height: 450px;
}
