<app-slide-img [lien]=lien></app-slide-img>
<div class="container container1">
   
  <div class="container container2">
   <div class="form"> 
      <Span> CREER PROJET</Span>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                 <br><br>
                <input class="form-control" type="text" placeholder="Titre projet">
                <br><br>
                <select class="form-control" id="exampleFormControlSelect1" placeholder="Catégorie projet">
                  <option>Catégorie 1</option>
                  <option>Catégorie 2</option>
                  <option>Catégorie 3</option>
                  <option>Catégorie 4</option>
                  <option>Catégorie 5</option>
                </select>
                <br><br>
            <div class="custom-file ">
                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>  
              <br><br>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Description Projet "></textarea>    
                  
              <br><br>     
              <input class="form-control" type="text" placeholder="Prix  Demander">
              <br><br> 
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Description detailler "></textarea>       
              <br><br> 
              <button type="button" class="btn btn-primary btn-lg">Creer</button>
            </div>

 </div>







</div>
