.navbar-expand-lg .navbar-collapse{
  text-align: center;
  font-style: italic;
  font-weight: 500;
}


.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  margin-left: 25%;
}
.navbar{
  margin-bottom: 100px;
}
.nav-item{
  padding-left: 45px;
}
.nav-item :hover{

}
.navbar[_ngcontent-c0] {
  margin-bottom: 0px;
}


.logo{
  height: 20px;
  width: 50px;
}

.nav-item2{
  position: absolute;
  top: 8px;
  right: 50px;

}
.pl-4, .px-4 {
  padding-left: 1.5rem !important;
  width: 246px;
}

.btn-outline-secondary {
  color: #eeeeee;
  background-color: transparent;
  background-image: none;
}
.btn-secondary2{
  background-color: #0e0e0e00!important;
  border-color: #0e0e0e00;
  font-size:13px;
}
.jj{
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 22px;
}
.bg-light[_ngcontent-c0] {
  background-color: #0e0e0ee6!important;
  font-size: 13px;
};
.SpanNav{
  color:white;
  font-size: 150px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);

}

.nav-item1 :hover{
  color: rgb(255, 255, 255);
  text-decoration: underline;

}
