
<div class="container-fluid">
  <app-slide-img [Note]=note [lien]=lien [title]=title></app-slide-img>
  <div class=" row">
    <div class="col-lg-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">              
             <h6>Created:</h6>&nbsp;<p >{{projet.Date_added}}</p><br><br>
             <h6>Last Update :</h6>&nbsp;<p >{{detail.Date_updated}}</p> <br><br>
             <h6> Category:</h6>&nbsp;<p >{{detail.Category}}</p><br><br>
             <h6> Type:</h6>&nbsp;<p >{{detail.Type}}</p><br><br>
             <h6> Tags :</h6>&nbsp;<p *ngFor="let tag of Tags"  >{{tag}} , &nbsp; </p><br><br>
             <h6> Technologies :</h6>&nbsp;<p *ngFor="let Technologie of Technologies"  >{{Technologie}} , &nbsp; </p><br><br>
            </div>
       </div>
       <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">              
         <h6>Contract_type:</h6>&nbsp;<p >{{detail.Contract_type}}</p> <br><br>
         <h6>Nb_sales:</h6>&nbsp;<p >{{detail.Nb_sales}}</p><br><br>
         <h6>Status:</h6>&nbsp;<p >{{detail.Status}}</p><br><br>
         <h6> Type:</h6>&nbsp;<p >{{detail.Type}}</p><br><br>
         <h6> Price:</h6>&nbsp;<p >{{projet.Price.Etendu}}</p><br><br>
        </div>
   </div>
       <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-body">              
          <button type="button" (click)="Hide()" class="btn btn-link"> <img src="../../assets/cart.png" alt="" style="display:inline">&nbsp; <h6 style="color:#28a745;display:inline">Add to your Panier</h6></button>
            
          </div>
     </div>
     <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">              
        <button type="button" (click)="Hide2()" class="btn btn-link"> <img src="../../assets/catalogue.png" alt="" style="display:inline">&nbsp; <h6 style="color:#28a745;display:inline">Description</h6></button>
          
        </div>
   </div>
       <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-body">              
          <button type="button" (click)="Hide()" class="btn btn-link"> <img src="../../assets/chat.png" alt="" style="display:inline">&nbsp; <h6 style="color:#28a745;display:inline">Comment</h6></button>
            
          </div>
     </div>
     <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">              
            <h6> Number of total votes :</h6><p ></p> <br><br>
            <img src="../../assets/star.png" ><h6 style="display:inline"> 5:</h6> &nbsp;
            <div class="progress">
                <div style="display:inline" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow=rat1    aria-valuemin="0" aria-valuemax="100"></div>
              </div>  
              
            <img src="../../assets/star.png" ><h6 style="display:inline"> 4:</h6> &nbsp;
            <div class="progress">
                <div style="display:inline" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow=rat2 aria-valuemin="0" aria-valuemax="100"></div>
              </div>  
              <img src="../../assets/star.png" ><h6 style="display:inline"> 3:</h6> &nbsp;
              <div class="progress">
                  <div style="display:inline" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow=rat3 aria-valuemin="0" aria-valuemax="100"></div>
                </div>  
                
              <img src="../../assets/star.png" ><h6 style="display:inline"> 2:</h6> &nbsp;
              <div class="progress">
                  <div style="display:inline" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow=rat4 aria-valuemin="0" aria-valuemax="100"></div>
                </div>  
                <img src="../../assets/star.png" ><h6 style="display:inline"> 1:</h6> &nbsp;
                <div class="progress">
                    <div style="display:inline" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow=rat5 aria-valuemin="0" aria-valuemax="100"></div>
                  </div>  
                       
            <br><br>
          
        </div>
   </div>
    </div>
    <div  class="col-lg-8">
      <div class="card bg-light mb-3" *ngIf="hide" style="max-width: auto;" >
      <div class="card-body">   
        <div class="container ctn2" >
          
            <h2>Comments :</h2> <br><br>
              <div class="row">
              <!-- Contenedor Principal -->
                <div class="comments-container" *ngFor="let item of Ctn" >
             
                <ul id="comments-list" class="comments-list">
                  <li>
                    <div class="comment-main-level">
                      <!-- Avatar -->
                      <div class="comment-avatar"><img src="../../assets/B.jpg" alt=""></div>
                      <!-- Contenedor del Comentario -->
                      <div class="comment-box">
                        <div class="comment-head">
                          <h6 class="comment-name "> {{item.User_name}}</h6>
                          <span>{{item.Add_date}}</span>
                         
                        </div>
                        <div class="comment-content">
                          {{item.comment}} 
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="card bg-light mb-3" *ngIf="hide2" style="max-width: auto;" >
            <div class="card-body"> 
              <h2>Description</h2>  
            </div>
       </div>
    </div>
  </div>
 
</div>
