
<div class="container-fluid ctn1">
        <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        </nav>
              <hr style="width:100%">
        <div class="row">
        
            <div class="col-lg-2 ">
             
                 <nav id="navbar-example3" class="navbar navbar-light bg-light bg-light1">
                   <h4>Filter by :  </h4>
                   <hr> 
                    <div class="panel-group" id="accordion">
                     <div class="panel panel-default">
                           <div class="panel-heading">
                               <h6 class="panel-title">
                               <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Category <br><br></a></h6>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">         
                                    <ul>
                                        <li>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input"   (click)="checkCat1()" (click)="Intersection()" >
                                                <label class="form-check-label" for="exampleCheck1"><p>Management</p></label>
                                            </div>
                                        </li>
                                        <li>  
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input"   (click)="checkCat2()" (click)="Intersection()"  >
                                                <label class="form-check-label" for="exampleCheck1" ><p>Accounting</p></label>
                                            </div>
                                        </li>
                                        <li> 
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input"  (click)="checkCat3()"  (click)="Intersection()">
                                                <label class="form-check-label" for="exampleCheck1"><p>RH</p></label>
                                            </div>
                                        </li>
                                        <li> 
                                        <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input"  (click)="checkCat4()"  (click)="Intersection()">
                                                <label class="form-check-label" for="exampleCheck1"><p>Finance</p></label>
                                        </div>
                                        </li>
                                        <li> 
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input"  (click)="checkCat5()"  (click)="Intersection()">
                                                <label class="form-check-label" for="exampleCheck1"><p>Communication</p></label>
                                            </div>
                                        </li>
                                        <li> 
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input"  (click)="checkCat6()"  (click)="Intersection()">
                                                <label class="form-check-label" for="exampleCheck1"><p>All Categories</p></label>
                                            </div>
                                        </li>
                                        </ul> 
                                </div>
                            </div>
                     </div>
                    </div>
                      
                        <hr> 
                    <div class="panel-group" id="accordion">
                       <div class="panel panel-default">
                           <div class="panel-heading">
                                <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">                 
                                 Product Type<br><br></a></h6>
                           </div>
                           <div id="collapse2" class="panel-collapse collapse in">
                                <div class="panel-body">   
                                    <ul>
                                            <li>
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" (click)="checkType1()"  (click)="Intersection()">
                                                    <label class="form-check-label" for="exampleCheck1"><p>SIteWeb</p> </label>
                                                </div>
                                            </li> 
                                            <li>
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" (click)="checkType2()" (click)="Intersection()">
                                                    <label class="form-check-label" for="exampleCheck1"><p>App Mobile</p> </label>
                                                </div>
                                            </li>  
                                            <li>
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" (click)="checkType3()"  (click)="Intersection()">
                                                    <label class="form-check-label" for="exampleCheck1"><p>Desktop Software<p> </label>
                                                </div>
                                            </li> 
                                            <li>
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" (click)="checkType4()"  (click)="Intersection()">
                                                    <label class="form-check-label" for="exampleCheck1"><p>Script</p> </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" (click)="checkType5()"  (click)="Intersection()" >
                                                    <label class="form-check-label" for="exampleCheck1"><p>Data base </p> </label>
                                                </div>
                                            </li>    
                                            <li>
                                            <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" (click)="checkType6()"  (click)="Intersection()" >
                                                    <label class="form-check-label" for="exampleCheck1"><p>Module </p> </label>
                                            </div>
                                            </li> 
                                            <li>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" (click)="checkType7()"  (click)="Intersection()" >
                                                <label class="form-check-label" for="exampleCheck1"><p>Plugin </p> </label>
                                            </div>
                                        </li> 
                                        <li>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" (click)="checkType8()"  (click)="Intersection()" >
                                                <label class="form-check-label" for="exampleCheck1"><p>All types</p> </label>
                                                </div>
                                            </li>                                            
                                                
                                        </ul>
                               </div>
                           </div>
                       </div>
                    </div>                     
                      
                     <hr>   
                    <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                     <h6 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">                 
                                      Product pice<br><br></a></h6>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse in">
                                  <div class="panel-body">   
                                        <div class="input-group mb-3">
                                                <div class="input-group mb-3">
                                                        <input type="number" min="0" [(ngModel)]="PrixMin" class="form-control" aria-label="Amount (to the nearest dollar)">
                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text"><p> DA</p></span>
                                                        </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                        <input type="number" min="0" [(ngModel)]="PrixMax"  class="form-control" aria-label="Amount (to the nearest dollar)">
                                                        <div class="">
                                                                <span class="input-group-text"><p> DA</p></span>
                                                        </div>
                                                </div>
                                                
                                                <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" (click)="submitPrix()"  (click)="Intersection()"type="button">></button>
                                                </div>
                                        </div>
                                </div>                     
                            </div>
                        </div>
                     </div>      
                        <hr>
                    <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                   <h6 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">                 
                                     Rating<br><br></a></h6>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse in">
                                    <div class="panel-body">   
                       
                                        <ul>
                                            <li>
                                                <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" (click)="checkRat1()" (click)="Intersection()">
                                                <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""></label>
                                                </div>
                                            </li>
                                            <li>    
                                                <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" (click)="checkRat2()" (click)="Intersection()">
                                                <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""></label>
                                            </div>
                                            </li>    
                                            <li>    
                                                <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" (click)="checkRat3()" (click)="Intersection()">
                                                <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""></label>
                                                </div>
                                            </li>
                                            <li>    
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" (click)="checkRat4()" (click)="Intersection()">
                                                    <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""></label>
                                                </div>
                                            </li>
                                            <li>    
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" (click)="checkRat5()" (click)="Intersection()">
                                                    <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star1.png" alt=""></label>
                                                </div>
                                            </li>
                                            <li>    
                                                <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" (click)="checkRat6()" (click)="Intersection()">
                                                <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""></label>
                                                </div>
                                        </li>                      
                                        </ul> 
                                    </div>
                                </div>
                            </div>
                         </div>                         
                        <hr>
                    <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">                 
                                         Date Added<br><br></a></h6>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse in">
                                        <div class="panel-body">   
                           
                                            <ul>
                                                    <li>
                                                    <div class="form-group form-check">
                                                        <input type="checkbox" class="form-check-input"  (click)="checkDate4()" (click)="Intersection()">
                                                        <label class="form-check-label" for="exampleCheck1"><p> Any Date </p></label>
                                                    </div>
                                                </li>
                                                <li>    
                                                    <div class="form-group form-check">
                                                        <input type="checkbox" class="form-check-input" (click)="checkDate1()" (click)="Intersection()">
                                                        <label class="form-check-label" for="exampleCheck1"><p> Last week </p></label>
                                                    </div>
                                                    </li>    
                                                    <li>    
                                                        <div class="form-group form-check">
                                                        <input type="checkbox" class="form-check-input" (click)="checkDate2()" (click)="Intersection()">
                                                        <label class="form-check-label" for="exampleCheck1"><p> Last month </p></label>
                                                        </div>
                                                    </li>
                                                    <li>    
                                                        <div class="form-group form-check">
                                                        <input type="checkbox" class="form-check-input" (click)="checkDate3()" (click)="Intersection()">
                                                        <label class="form-check-label" for="exampleCheck1"><p> Last year </p></label>
                                                        </div>
                                                    </li>        
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                 </div>                                    
                                     
                 </nav>
            
                            
               
            </div> 
            <div class="col-lg-1 ">
                 <div class=" vl"></div> 
            </div>  
            <div class="col-lg-9 col9">
              <nav class="navbar navbar-light bg-light bg-light2">
                   
                        <div class="row">
                       
                            <button type="button " class="btn1 btn btn-outline-light"><img src="../../assets/grid.png" alt=""></button>
                            <div class="col-lg-1">
                                <div class="vl2"></div>
                            </div>
                            <button type="button " class=" btn1 btn btn-outline-light"><img src="../../assets/list.png" alt=""></button>
                     
                        </div>
                   <div class="form-group ">
                       
                        <select class="form-control form-control1" [(ngModel)]="chosenMod" (ngModelChange)="modo()" id="exampleFormControlSelect1">
                          <option value="mod5">No sort selceted</option><br>
                          <option value="mod1">Sort by : Date</option><br>
                          <option value="mod2">Sort by : Best rated </option><br>
                          <option value="mod3">Sort by : Pice(low->high) </option><br>
                          <option value="mod4">Sort by : Pice(high->low)</option><br>
                        </select>
                    </div>
                    <p> Result Find : {{Nbresult}}</p>  
                   <nav aria-label="Page navigation example">
                       <ul class="pagination">
                         <li class="page-item"><a class="page-link" *ngIf="ShowDisabl1" (click)="Show()"><</a></li>
                         
                         <li class="page-item"><a class="page-link" *ngIf="ShowDisabl" (click)="Show()">></a></li>
                       </ul>
                 </nav>
              </nav>
              
               
               <div class=" container ">
                   <div *ngIf="edited">
                    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>    
                   </div>
                   <div  *ngIf="edited2" >
                   <app-product  [Projets]=ProjetsAffich [Detail]=Detail [Key] =Key></app-product> 
                   </div>
               </div> 
       </div>
 </div>
 </div>