
<div class="container-fluid ctn1">
        <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        </nav>
              <hr style="width:100%">
        <div class="row">
            
            <div class="col-lg-2 ">
             
                 <nav id="navbar-example3" class="navbar navbar-light bg-light bg-light1">
                   <h4>Filter by : </h4>
                   <hr>
                     <h6 >Category </h6><br><br>
                     <ul>
                         <li>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" [(ngModel)]='checkbox' (ngModelChange)='onCheckboxChange()' (click)="FiltreCategorie('cat1')">
                                <label class="form-check-label" for="exampleCheck1"><p>category 1</p></label>
                            </div>
                        </li>
                        <li>  
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input"[(ngModel)]='checkbox1' (ngModelChange)='onCheckboxChange()' (click)="FiltreCategorie('cat2')">
                                <label class="form-check-label" for="exampleCheck1"><p>category 2</p></label>
                            </div>
                        </li>
                        <li> 
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input"   [(ngModel)]='checkbox2' (ngModelChange)='onCheckboxChange()' (click)="FiltreCategorie('cat3')">
                                <label class="form-check-label" for="exampleCheck1"><p>category 3</p></label>
                            </div>
                        </li>
                        <li>   
                            <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" (click)="AllData('cat3')">
                                    <label class="form-check-label" for="exampleCheck1"><p>All categorys </p></label>
                            </div>
                        </li>     
                        </ul>   
                       <hr> 
                       
                     <h6 >Product Type</h6><br><br>
                       <ul>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('1',7000)">
                                    <label class="form-check-label" for="exampleCheck1"><p>type1</p> </label>
                                </div>
                            </li> 
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                    <label class="form-check-label" for="exampleCheck1"><p>type2</p> </label>
                                </div>
                            </li>  
                            <li>
                                <div class="form-group form-check">
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                    <label class="form-check-label" for="exampleCheck1"><p>type3</p> </label>
                                </div>
                            </li> 
                            <li>
                                <div class="form-group form-check">
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                     <label class="form-check-label" for="exampleCheck1"><p>type4</p> </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                     <label class="form-check-label" for="exampleCheck1"><p>type5</p> </label>
                                </div>
                            </li>                      
                                 
                        </ul>  
                        <hr>   
                     <h6 >Product pice</h6><br><br>
                     <div class="input-group mb-3">
                            <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><p> DA</p></span>
                                     </div>
                            </div>
                            <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                    <div class="">
                                            <span class="input-group-text"><p> DA</p></span>
                                     </div>
                            </div>
                            
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button">></button>
                            </div>
                          </div>
                       <hr>

                       <h6 >Rating</h6><br><br>
                       
                         <ul>
                             <li>
                                <div class="form-group form-check">
                                   <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('1',7000)">
                                   <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""></label>
                                </div>
                            </li>
                            <li>    
                                <div class="form-group form-check">
                                  <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                  <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""></label>
                               </div>
                             </li>    
                             <li>    
                                 <div class="form-group form-check">
                                   <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                   <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""></label>
                                </div>
                             </li>
                             <li>    
                                 <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                    <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star1.png" alt=""><img src="../../assets/star1.png" alt=""></label>
                                 </div>
                             </li>
                             <li>    
                                <div class="form-group form-check">
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                     <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star1.png" alt=""></label>
                                 </div>
                            </li>
                            <li>    
                                <div class="form-group form-check">
                                   <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                   <label class="form-check-label" for="exampleCheck1"><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""><img src="../../assets/star.png" alt=""></label>
                                </div>
                           </li>                      
                         </ul>    
                           <hr>
                        <h6 >Date Added</h6> <br><br>
                             <ul>
                                    <li>
                                       <div class="form-group form-check">
                                          <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('1',7000)">
                                          <label class="form-check-label" for="exampleCheck1"><p> Any Date </p></label>
                                       </div>
                                   </li>
                                   <li>    
                                       <div class="form-group form-check">
                                         <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                         <label class="form-check-label" for="exampleCheck1"><p> Last week </p></label>
                                      </div>
                                    </li>    
                                    <li>    
                                            <div class="form-group form-check">
                                              <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                              <label class="form-check-label" for="exampleCheck1"><p> Last month </p></label>
                                           </div>
                                    </li>
                                    <li>    
                                            <div class="form-group form-check">
                                              <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="FiltrePrix('7001','70004')">
                                              <label class="form-check-label" for="exampleCheck1"><p> Last year </p></label>
                                           </div>
                                         </li>        
                                </ul>    
                                     
                   </nav>
            
                            
               
            </div> 
            <div class="col-lg-1 ">
                 <div class=" vl"></div> 
            </div>  
            <div class="col-lg-9 col9">
              <nav class="navbar navbar-light bg-light bg-light2">
                    <div class="form-group ">
                             <select class="form-control form-control1" id="exampleFormControlSelect1">
                               <option>Show all</option><br><br>
                               <option>Show 4 product</option><br><br>
                               <option>Show 8 product</option><br><br>
                             </select>
                    </div>
                  
                        <div class="row">
                       
                            <button type="button " class="btn1 btn btn-outline-light"><img src="../../assets/grid.png" alt=""></button>
                            <div class="col-lg-1">
                                <div class="vl2"></div>
                            </div>
                            <button type="button " class=" btn1 btn btn-outline-light"><img src="../../assets/list.png" alt=""></button>
                     
                        </div>
                   <div class="form-group ">
                       
                        <select class="form-control form-control1" id="exampleFormControlSelect1">
                          <option>No sort selected</option><br>
                          <option type="button">Sort by : Date</option><br>
                          <option>Sort by : Best rated </option><br>
                          <option>Sort by : Pice(low->high) </option><br>
                          <option>Sort by : Pice(high->low)</option><br>
                        </select>
                    </div>
                   <nav aria-label="Page navigation example">
                       <ul class="pagination">
                         <li class="page-item"><a class="page-link" (click)="Next()"><</a></li>
                         
                         <li class="page-item"><a class="page-link" (click)="Next()">></a></li>
                       </ul>
                 </nav>
              </nav>
              
               
               <div class=" container ">
                   
             <app-product ></app-product>
               </div> 
       </div>
 </div>
 </div>