body{
    background-color: #6c757d0a;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #6c757d0a;
}
.input-group-text {
   
    padding: 0.0em 0.75rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
   
}
.col9{
    margin-left: -75px;
}
.bg-light {
    background-color:  none !important;
}
.lead{
    text-align: center;
}
hr{
    width: 200px;
}
p{
    font-size: 13px;
}
.vl {
    border-left: 1px solid rgb(0, 0, 0,0.1);

    height: 100%;
}
.vl2{
    border-left: 1px solid rgb(0, 0, 0,0.1);
    height: 75%;
}
.btn1{
   
    margin-bottom: 15px;
}
.col1{
   
    height: 100%;
}
.form-control{
border-radius: 1.25rem;
}


.carousel-inner {
    background: rgba(3, 3, 3, 0.3);
}
.bg-light3[_ngcontent-c1] {

    width: 195px;
    right: 23px;
    height:auto;
    margin-bottom: 10px;
}


.btn-secondary.dropdown-toggle{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #4e555b;
}
.btn-secondary1 {
    color: #000;
    background-color: #6c757d00;
    border-color: #6c757d;
}
.secondary.dropdown-toggle1 {
     color: rgb(0, 0, 0); 
     background-color: #ffffff; 
    border-color: #4e555b;
}
.btn1{
   
    border-radius: 1.25rem;
}
/******************************************************************************/
