<div class="container-fluid">

  <!-- cover img -->
  <div class="row bg flex-column justify-content-end align-items-center">
    <h1 class="display-3 text-center text-white p-0 " style="text-shadow: 2px 2px 4px #000000, 0 0 25px #000000;">what
      software are
      you <br>looking for ?</h1>
    <div class="input-group md-form form-sm col-11 col-md-9 " style="margin-top: 50px;">
      <input class="form-control my-0 py-1 text-center amber-border " type="text" placeholder="Search"
             aria-label="Search">
    </div>
    <h4 class="h4 text-center text-white p-0 " style="margin-bottom: 80px;">more than +500 software ...</h4>
  </div>


  <!-- What is Software Marketplace ? -->
  <div class="row row-container flex-column justify-content-center align-items-center">

    <h1 class="h1 text-center text-italic f1">What is Software Marketplace ?</h1>
    <p class=" text-center text-muted col-md-10 lead f1">" &nbsp;&nbsp;&nbsp; A platforme specialized on softwares.A
      platforme specialized on
      softwares.A platforme specialized on softwares.A platforme specialized on softwares.A platforme specialized on
      softwares.A
      platforme specialized on softwares.A platforme specialized on softwares. &nbsp;&nbsp;&nbsp; "</p>


    <hr class="w-25">

    <div class="row col-md-10 flex-row justify-content-center justify-content-md-between align-items-center "
         style="padding-top: 40px">
      <div class="col-8 col-md-4 flex-column justify-content-center">
        <img src="../../assets/icon.png" class="img-fluid w-75">
        <h4 class="h4 f1">Become a developer</h4>
        <p class="text-center text-muted f1 "> I want to become a devoloper.I want to become a devoloper.I want to
          become a
          devoloper.</p>
      </div>
      <div class="col-8 col-md-4 flex-column justify-content-center ">
        <img src="../../assets/icon.png" class="img-fluid w-75">
        <h4 class="h4 f1">Become a costumer</h4>
        <p class="text-center text-muted f1"> I want to become a devoloper.I want to become a devoloper.I want to become
          a
          devoloper.</p>
      </div>
    </div>
  </div>


  <!-- costumer benefits -->

  <div class="row row-container2 flex-row justify-content-around align-items-center">
    <div class="col-5 col-md-3 flex-column justify-content-center">
      <img src="../../assets/icon.png" class="img-fluid w-50">
      <h4 class="f1">costumer benefits</h4>
      <p class="text-center text-muted f1"> I want to become a devoloper.I want to become a devoloper.I want to become
        a devoloper.</p>
    </div>
    <div class="col-5 col-md-3 flex-column justify-content-center">
      <img src="../../assets/icon.png" class="img-fluid w-50">
      <h4 class="f1">costumer benefits</h4>
      <p class="text-center text-muted f1"> I want to become a devoloper.I want to become a devoloper.I want to become
        a devoloper.</p>
    </div>
    <div class="col-5 col-md-3 flex-column justify-content-center">
      <img src="../../assets/icon.png" class="img-fluid w-50">
      <h4 class="f1">costumer benefits</h4>
      <p class="text-center text-muted f1"> I want to become a devoloper.I want to become a devoloper.I want to become
        a devoloper.</p>
    </div>
  </div>


  <div class="row row-container flex-row justify-content-center align-items-center">
    <h1 class="h1 text-center f1" style="color: rgba(203,209,0,0.82);">What our costumers say about us !</h1>
  </div>

</div>
