<div class="container-fluid">

  <!-- cover img -->
  <div class="row bg flex-column justify-content-end align-items-center">
    <h1 class="display-3 text-center text-white p-0 " style="text-shadow: 2px 2px 4px #000000, 0 0 25px #000000;">
      RECHERCHEZ UNE SOLUTION
    </h1>
    <div class="input-group md-form form-sm col-11 col-md-9 " style="margin-top: 50px; margin-bottom: 10px;">
      <input class="form-control my-0 py-1 text-center amber-border " style="margin-bottom: 20px;"type="text" placeholder="Search"
             aria-label="Search">
    </div>
    <h4 class="h4 text-center text-white p-0 " style="margin-bottom: 80px;">Plus de +500 logiciel ...</h4>
  </div>


  <!-- What is Software Marketplace ? -->
  <div class="row row-container2 flex-column justify-content-center align-items-center">

    <h1 class="h1 text-center text-italic f1">Qui sommes-nous ?</h1>
    <p class=" text-center text-muted col-md-10 lead f1">
      &nbsp;&nbsp;&nbsp; Soft-Market est une place de marché qui permet aux producteurs du code de tout type 
      et de toute catégorie d'exposer leurs produits, afin qu'ils soient accessibles aux entreprises 
      souhaitant les acheter.
    </p>


    <!-- <hr class="w-25"> -->

    
  </div>

  <!-- How it works -->

  <div class="row row-container flex-colomn justify-content-center align-items-center">
    <h1 class="h1 text-center text-italic f1">Comment ça marche ?</h1>
    <div class="row col-md-12 flex-row align-items-center " style="padding-top: 40px">
      <div class="col-8 col-md-6 flex-column">
        <img src="../../assets/Home/Have_solution.svg" class="img-fluid w-50" style="margin-bottom : 2em;">
        
        <ul class="text-muted f1 list-group">
          <li class="list-group-item active">
            <h4 class="h4">Vous <strong>avez</strong> une solution</h4>
          </li>
          <li class="list-group-item">Inscrivez-vous sur notre plateforme</li>
          <li class="list-group-item">Présentez votre produit</li>
          <li class="list-group-item">Transferez le logiciel à l'acheteur</li>
          <li class="list-group-item">recevez votre argent</li>
        </ul>
      </div>
      <div class="col-8 col-md-6 flex-column justify-content-start">
        <img src="../../assets/Home/Search_solution.svg" class="img-fluid w-50" style="margin-bottom : 2em;">
        
        <ul class="text-muted f1 list-group">
          <li class="list-group-item active">
              <h4 class="h4 f1">Vous <strong>cherchez</strong> une solution</h4>
          </li>
          <li class="list-group-item">Inscrivez-vous sur notre plateforme</li>
          <li class="list-group-item">Choisissez parmi nos solution</li>
          <li class="list-group-item">Nous transmettez l'argent</li>
          <li class="list-group-item">recevez votre produit</li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Costumer benefits -->

  <div class="row row-container2 flex-row justify-content-around align-items-center">
    <h1 class="h1 col-md-12 text-center text-italic f1" style="margin-bottom : 50px;">Pourquoi <strong>acheter</strong> de chez nous ?</h1>
    <div class="col-5 col-md-3 flex-column justify-content-center">
      <img src="../../assets/Home/Interaction_valeur.svg" class="img-fluid w-50" style="margin-bottom : 2em;">
      <h4 class="f1">Des interactions de valeur</h4>
      <p class="text-center text-muted f1"> Nous vous permettons de trouver des solutions 
        informatiques de qualité pour les moindres prix</p>
    </div>
    <div class="col-5 col-md-3 flex-column justify-content-center">
      <img src="../../assets/Home/Experience_qualite.svg" class="img-fluid w-50" style="margin-bottom : 2em;">
      <h4 class="f1">Une expérience de qualité</h4>
      <p class="text-center text-muted f1"> Achetez des solutions avec facilité sans avoir 
        à penser aux longs processes d'achats très bureaucratisés</p>
    </div>
    <div class="col-5 col-md-3 flex-column justify-content-center" >
      <img src="../../assets/Home/Gagnez_argent.svg" class="img-fluid w-50" style="margin-bottom : 2em;">
      <h4 class="f1">Gagnez de l'argent</h4>
      <p class="text-center text-muted f1"> Avec nous les charges de développement ne sont plus 
        fixes, vous achetez une solution prête au lieu de penser à une équipe et des ressources</p>
    </div>
  </div>

  <!-- Developer benefits -->

  <div class="row row-container flex-row justify-content-around align-items-center">
      <h1 class="h1 col-md-12 text-center text-italic f1"  style="margin-bottom : 50px;">Pourquoi <strong>vendre</strong> de chez nous ?</h1>
      <div class="col-5 col-md-3 flex-column justify-content-center">
        <img src="../../assets/Home/Concentrez_activite.svg" class="img-fluid w-50" style="margin-bottom : 2em;">
        <h4 class="f1">Concentrez sur votre activité</h4>
        <p class="text-center text-muted f1"> Travailler chez-soi et générer du revenu 
          en vous inquienttants seulement de développer des applications de qualité. </p>
      </div>
      <div class="col-5 col-md-3 flex-column justify-content-center">
        <img src="../../assets/Home/Attendez_client.svg" class="img-fluid w-50" style="margin-bottom : 2em;">
        <h4 class="f1">N'attendez pas le client</h4>
        <p class="text-center text-muted f1"> Produisez des logiciels qui vous passionnent, 
          nous trouverons le client qui payera.</p>
      </div>
      <div class="col-5 col-md-3 flex-column justify-content-center">
        <img src="../../assets/Home/Rentabilise_solution.svg" class="img-fluid w-50" style="margin-bottom : 2em;">
        <h4 class="f1">Rentabilisez votre solution</h4>
        <p class="text-center text-muted f1"> Si vous êtes une entreprise qui a déjà développer 
          sa solution, vendez des licences d'utilisation et générer du revenu en plus.</p>
      </div>
    </div>

<!-- Testemonials -->

  <div class="row row-container2 flex-row justify-content-center align-items-center">
    <h1 class="h1 text-center f1" style="color: rgba(203,209,0,0.82);">Que disent-ils nos clients !</h1>
  </div>

</div>
